body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    /*font: 12pt "Tahoma";*/
    font-size: 14px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 3mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    /*border-radius: 5px;*/
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    /*padding: 1cm;*/
    /*border: 1px red solid;*/
    height: 290mm;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .no-print{ display:none;}
}

.table-bordered{
	font-size: 14px;
}

.for-print{
    position: fixed;
    top: 10px;
    right: 10px;
}

.table-bordered tr th{
    white-space: nowrap;
}
